.worker-card {
  position: relative;

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: sizeIns(10, $valLeptop1);
    border-radius: 10px;

    @media ($mobile1) {
      display: block;
      margin: 0 auto sizeIns(57, $valMobile4);
      padding: 0;
    }
  }

  @media ($mobile1) {
    display: block;
    margin: 0 auto sizeIns(57, $valMobile4);
  }

  &_big {
    z-index: 1;
    height: sizeIns(220, $valLeptop1);
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        & .worker-card__inner {
          background: rgba(18,41,95,0.9);
        }

        & .worker-card__list {
          display: block;
        }

        & .worker-card__name {
          color: $c-main-light;
        }

        & .worker-card__text {
          color: $c-main-light;
        }
      }
    }

    @media ($mobile1) {
      height: auto;
    }
  }

  &__img {
    flex-shrink: 0;
    width: sizeIns(200, $valLeptop1);
    height: sizeIns(200, $valLeptop1);
    border-radius: 100%;
    border: sizeIns(7, $valLeptop1) solid #12295F;
    margin: 0 sizeIns(30, $valLeptop1) 0 0;
    overflow: hidden;

    @media ($mobile1) {
      width: sizeIns(200, $valMobile4);
      height: sizeIns(200, $valMobile4);
      margin: 0 auto sizeIns(15, $valMobile4);
    }

    & img {
      width: 100%;
    }
  }

  &__name {
    font-family: $f-p;
    font-style: normal;
    font-weight: bold;
    @include fzEl ($fz, 36);
    line-height: 95%;
    color: $c-main-dark;
    margin: 0 0 sizeIns(27, $valLeptop1);

    @media ($mobile1) {
      @include fzElMob ($fz, 36);
      margin: 0 0 sizeIns(14, $valMobile4);
      text-align: center;
    }
  }

  &__text {
    font-family: $f-p;
    font-style: normal;
    font-weight: bold;
    @include fzEl ($fz, 26);
    line-height: 95%;
    color: $c-main-dark;

    @media ($mobile1) {
      @include fzElMob ($fz, 18);
      text-align: center;
    }
  }

  &__list {
    list-style: none;
    margin: sizeIns(5, $valLeptop1) 0 0;
    padding: sizeIns(5, $valLeptop1);
    display: none;
    width: 100%;
    color: #fff;
    font-family: $f-p;
    line-height: 107%;
    @include fzEl ($fz, 18);

    & li {
      margin: 0 0 sizeIns(2, $valLeptop1);
    }

    @media ($mobile1) {
      display: block;
      color: $c-main-dark;
      @include fzElMob($fz, 16);
      margin: sizeIns(10, $valMobile4) 0 0;
      padding: 0;
      text-align: center;
    }
  }

  &_sm {
    @media ($mobile1) {
      margin: 0 auto sizeIns(40, $valMobile4);
    }
  }

  &_sm &__img {
    width: sizeIns(150, $valLeptop1);
    height: sizeIns(150, $valLeptop1);
    margin: 0 sizeIns(30, $valLeptop1) 0 sizeIns(20, $valLeptop1);
    border: sizeIns(4, $valLeptop1) solid #12295F;

    @media ($mobile1) {
      width: sizeIns(170, $valMobile4);
      height: sizeIns(170, $valMobile4);
      margin: 0 auto sizeIns(14, $valMobile4);
    }
  }

  &_sm &__name {
    @include fzEl ($fz, 30);
    margin: 0 0 sizeIns(25, $valLeptop1);

    @media ($mobile1) {
      @include fzElMob ($fz, 30);
      margin: 0 0 sizeIns(14, $valMobile4);
      text-align: center;
    }
  }

  &_sm &__text {
    @include fzEl ($fz, 22);

    @media ($mobile1) {
      @include fzElMob ($fz, 18);
      text-align: center;
    }
  }
}