.section-img {
  display: block;
  overflow: hidden;
  border-radius: 100%;

  @media ($mobile1) {
    border-radius: 0;
  }

  & img {
    width: 100%;
    max-height: none;
  }

  .section-2 & {
    @include boxSizeIns(830, 830, $valLeptop1);

    @media ($mobile1) {
      @include boxSizeIns(360, 258, $valMobile4);
    }
  }

  .section-3 & {
    @include boxSizeIns(1300, 1300, $valLeptop1);
    margin: sizeIns(-200, $valLeptop1) 0 0 marginIns(-383, $valLeptop1);

    @media ($mobile1) {
      @include boxSizeIns(360, 395, $valMobile4);
      margin: 0 0 marginIns(50, $valMobile4);
    }
  }
}