.section-main {
  position: relative;

  &.section {
    &-1 {
      padding: marginIns(153, $valLeptop1) 0 0;
      @include heightIns(1590, $valLeptop1);

      & .banner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;

        & img {
          width: 100%;
        }
      }
    }

    &-2 {
      margin: marginIns(-300, $valLeptop1) 0 0;
      padding: marginIns(221, $valLeptop1) 0 0;
      @include heightIns(1660, $valLeptop1);

      & .banner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;

        & img {
          width: 100%;
        }
      }
    }

    &-3 {
      margin: marginIns(-360, $valLeptop1) 0 0;
      @include heightIns(1300, $valLeptop1);
    }
  }
}