.section-box-text {
  font-family: $f-o;
  font-style: normal;
  font-weight: normal;
  @include fzEl ($fz, 24);
  line-height: 107%;
  letter-spacing: -0.02em;
  color: $c-main-dark;

  @media ($mobile1) {
    color: $c-main-light;
    @include fzElMob ($fz, 14);
  }

  & p {
    margin: 0;
  }

  & .mark {
    font-weight: bold;
  }
}