.section-content {
  position: relative;
  z-index: 1;
  display: flex;

  @media ($mobile1) {
    display: block;
  }

  .section-2 & {
    padding: 0 sizeIns(48, $valLeptop1);

    @media ($mobile1) {
      padding: 0;
    }

    &__left {
      margin: 0 sizeIns(99, $valLeptop1) 0 0;

      @media ($mobile1) {
        margin: 0 0 sizeIns(59, $valMobile4);
      }
    }

    &__right {
      @media ($mobile1) {
        padding: 0 sizeIns(15, $valMobile4);
      }
    }
  }

  .section-3 & {
    &__left {
      margin: 0 sizeIns(55, $valLeptop1) 0 0;
    }

    &__right {
      padding: 0 sizeIns(50, $valLeptop1) 0 0;
    }
  }

  .section-4 & {
    &__left {
      padding: 0 0 0 sizeIns(273, $valLeptop1);
      margin: 0 sizeIns(55, $valLeptop1) 0 0;
      width: sizeIns(917, $valLeptop1);
      flex-shrink: 0;
    }

    &__right {
      padding: 0 sizeIns(235, $valLeptop1) 0 0;
    }
  }
}