.section-main {
  position: relative;

  &.section {
    &-1 {
      padding: sizeIns(110, $valLeptop1) 0 0;
      @include heightIns(1590, $valLeptop1);

      & .banner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;

        @media ($mobile1) {
          top: sizeIns(50, $valMobile4);
        }

        & img {
          //width: 100%;
          height: 100%;

          @media ($mobile1) {
            width: 100%;
            height: auto;
          }
        }
      }

      @media ($mobile1) {
        @include heightIns(704, $valMobile4);
        padding: 0;
      }
    }

    &-2 {
      position: relative;
      z-index: 1;
      margin: sizeIns(-300, $valLeptop1) 0 0;
      padding: sizeIns(221, $valLeptop1) 0 0;
      @include heightIns(1660, $valLeptop1);

      @media ($mobile1) {
        @include heightIns(1224, $valMobile4);
        padding: sizeIns(70, $valMobile4) 0 0;
        margin: 0;
      }

      & .banner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        overflow: hidden;

        & img {
          width: 100%;
        }
      }
    }

    &-3 {
      //margin: sizeIns(-360, $valLeptop1) 0 0;
      //@include heightIns(940, $valLeptop1);
      padding: 0 0 sizeIns(60, $valLeptop1);

      @media ($mobile1) {
        margin: sizeIns(-205, $valMobile4) 0 0;
        height: auto;
        padding: 0 0 sizeIns(34, $valMobile4);
      }
    }

    &-4 {
      & .wr-section-title {
        margin: 0 0 sizeIns(115, $valLeptop1);
      }

      @media ($mobile1) {
        padding: sizeIns(34, $valMobile4) 0 0;
      }
    }

    &-5 {
      @media ($mobile1) {
        padding: sizeIns(42, $valMobile4) 0 0;
        margin: sizeIns(36, $valMobile4) 0 0;
      }
    }

    &-6 {
      @include heightIns(1300, $valLeptop1);
      padding: sizeIns(193, $valLeptop1) 0 0;

      & .banner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;

        & img {
          width: 100%;
        }
      }

      @media ($mobile1) {
        @include heightIns(896, $valMobile4);
        padding: sizeIns(64, $valMobile4) 0 0;
      }
    }

    &-7 {
      @include heightIns(1056, $valLeptop1);
      padding: sizeIns(100, $valLeptop1) 0 sizeIns(53, $valLeptop1);

      @media ($mobile1) {
        height: auto;
        padding: sizeIns(18, $valMobile4) 0 sizeIns(55, $valMobile4);
      }
    }

    &-8 {
      @include heightIns(1230, $valLeptop1);
      padding: sizeIns(286, $valLeptop1) 0 sizeIns(50, $valLeptop1);

      @media ($mobile1) {
        height: auto;
        padding: sizeIns(50, $valMobile4) 0 sizeIns(37, $valMobile4);
      }

      & .banner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;

        & img {
          width: 100%;
        }
      }
    }
  }
}