.section-box-descr {
  & p {
    font-family: $f-p;
    font-style: normal;
    font-weight: normal;
    @include fzEl ($fz, 40);
    line-height: 107%;
    letter-spacing: -0.02em;
    color: $c-main-light;
    margin: 0 0 marginIns(50, $valLeptop1);

    @media ($mobile1) {
      @include fzElMob ($fz, 14);
      margin: 0 0 marginIns(14, $valMobile4);
    }

    &:last-child {
      margin: 0;
    }

    &.mark {
      font-weight: bold;
    }

    .section-3 & {
      color: $c-main-dark;
      font-weight: bold;
      @include fzEl ($fz, 24);
      line-height: 107%;
      letter-spacing: -0.02em;
      font-family: $f-o;

      @media ($mobile1) {
        @include fzElMob ($fz, 14);
        color: $c-main-light;
        margin: 0 0 marginIns(14, $valMobile4);
      }
    }

    .section-4 & {
      @include fzEl ($fz, 36);
      color: $c-main-dark;
      font-weight: bold;

      @media ($mobile1) {
        @include fzElMob ($fz, 24);
        //color: $c-main-light;
      }
    }
  }

  .section-4 & {
    margin: marginIns(-30, $valLeptop1) 0 marginIns(135, $valLeptop1);

    @media ($mobile1) {
      margin: 0 0 marginIns(17, $valMobile4);
    }
  }

  .section-3 & {
    width: sizeIns(616, $valLeptop1);

    @media ($mobile1) {
      width: auto;
    }
  }
}