.section-box-title {
  font-family: $f-p;
  font-style: normal;
  font-weight: bold;
  @include fzEl ($fz, 64);
  line-height: 95%;
  color: $c-main-light;
  margin: 0 0 marginIns(87, $valLeptop1);

  @media ($mobile1) {
    @include fzElMob ($fz, 24);
    margin: 0 0 marginIns(20, $valMobile4);
  }

  .section-3 & {
    color: $c-main-dark;
    margin: 0 0 marginIns(80, $valLeptop1);

    @media ($mobile1) {
      margin: 0 0 marginIns(60, $valMobile4);
    }
  }

  .section-4 & {
    color: $c-main-dark;
    margin: 0 0 marginIns(101, $valLeptop1);

    @media ($mobile1) {
      color: $c-main-light;
    }
  }
}