.page-subtitle {
  font-style: normal;
  font-weight: normal;
  @include fzEl ($fz, 36);
  line-height: 115%;
  color: $c-main-dark;
  margin: 0 0 marginIns(60, $valLeptop1);

  @media ($mobile1) {
    @include fzElMob ($fz, 12);
    margin: 0 0 marginIns(36, $valMobile4);
  }
}