.cost-box-col {
  padding: sizeIns(55, $valLeptop1) 0 0;

  @media ($mobile1) {
    padding: 0;
  }

  &:first-child {
    flex-shrink: 0;
    width: sizeIns(455, $valLeptop1);
    margin: 0 sizeIns(55, $valLeptop1) 0 0;

    @media ($mobile1) {
      width: 100%;
      margin: 0;
    }
  }

  &:last-child {
    padding: 0;
    flex-shrink: 0;
    margin: 0 0 0 sizeIns(20, $valLeptop1);

    @media ($mobile1) {
      margin: 0 0 marginIns(45, $valMobile4);
    }
  }

  &:nth-child(1) {
    @media ($mobile1) {
      order: 2;
    }
  }

  &:nth-child(2) {
    @media ($mobile1) {
      order: 3;
    }
  }

  &:nth-child(3) {
    @media ($mobile1) {
      order: 1;
    }
  }
}