.cost-text {

  &:before {
    content: '';
    display: block;
    width: sizeIns(170, $valLeptop1);
    height: sizeIns(20, $valLeptop1);
    margin: sizeIns(49, $valLeptop1) 0;
    background: $c-main-dark;

    @media ($mobile1) {
      @include fzElMob ($fz, 48);
      width: sizeIns(170, $valMobile4);
      height: sizeIns(20, $valMobile4);
      margin: sizeIns(49, $valMobile4) 0;
    }
  }

  & p {
    font-family: $f-o;
    font-style: normal;
    font-weight: normal;
    @include fzEl ($fz, 24);
    line-height: 150%;
    color: $c-main-dark;
    margin: 0 0 sizeIns(32, $valLeptop1);

    @media ($mobile1) {
      @include fzElMob ($fz, 18);
      margin: 0 0 sizeIns(32, $valMobile4);
    }
  }
}