.switch-item {
  flex-shrink: 0;
  margin: 0 sizeIns(25, $valLeptop1);
  width: sizeIns(135, $valLeptop1);
  cursor: pointer;

  @media ($mobile1) {
    width: sizeIns(80, $valMobile4);
    margin: 0 sizeIns(15, $valMobile4);
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    @include fzEl($fz, 24);
    line-height: 95%;
    color: #455052;
    @include heightIns(50, $valLeptop1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media ($mobile1) {
      @include fzElMob($fz, 14);
      @include heightIns(35, $valMobile4);
    }
  }

  &.active &__title {
    @include fzEl($fz, 30);

    @media ($mobile1) {
      @include fzElMob($fz, 18);
      @include heightIns(35, $valMobile4);
      //color: $c-main-light;
    }
  }

  &.active:nth-child(1) &__title {
    color: #122960;
  }

  &.active:nth-child(2) &__title {
    color: #0E4F13;
  }

  &.active:nth-child(3) &__title {
    color: #9B0D1B;
  }

  &:before {
    content: '';
    display: block;
    @include boxSizeIns(50, 52, $valLeptop1);
    margin: 0 auto;
    background-image: url(/assets/img/logo-small.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;

    @media ($mobile1) {
      @include boxSizeIns(35, 37, $valMobile4);
    }
  }

  &.active:nth-child(1):before {
    background-position: 0 sizeIns(1, $valLeptop1);
  }

  &.active:nth-child(2):before {
    background-position: 0 sizeIns(-73, $valLeptop1);

    @media ($mobile1) {
      background-position: 0 sizeIns(-51, $valMobile4);
    }
  }

  &.active:nth-child(3):before {
    background-position: 0 sizeIns(-147, $valLeptop1);

    @media ($mobile1) {
      background-position: 0 sizeIns(-102, $valMobile4);
    }
  }

  &.active:before {
    background-image: url(/assets/img/sprite.png);
    background-size: cover;
  }
}