.switch {
  display: flex;
  align-items: center;
  width: 420px;
  @include widthSizeIns(420, $valLeptop1);
  position: absolute;
  left: 0;
  right: 0;
  bottom: sizeIns(-8, $valLeptop1);
  margin: auto;

  @media ($mobile1) {
    color: $c-main-light;
    position: relative;
    @include widthSizeIns(330, $valMobile4);
  }
}