.switch-item {
  margin: 0 sizeIns(25, $valLeptop1);
  width: sizeIns(135, $valLeptop1);
  cursor: pointer;

  @media ($mobile1) {
    width: sizeIns(135, $valMobile4);
    margin: 0 sizeIns(25, $valMobile4);
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    @include fzEl($fz, 24);
    line-height: 95%;
    color: #455052;
    @include heightIns(50, $valLeptop1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media ($mobile1) {
      @include fzElMob($fz, 14);
      @include heightIns(35, $valMobile4);
    }
  }

  &.active &__title {
    @include fzEl($fz, 30);
    color: $c-main-dark;

    @media ($mobile1) {
      @include fzElMob($fz, 18);
      @include heightIns(35, $valMobile4);
      color: $c-main-light;
    }
  }

  &:before {
    content: '';
    display: block;
    @include boxSizeIns(50, 50, $valLeptop1);
    margin: 0 auto;
    background-image: url(/assets/img/logo-small.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;

    @media ($mobile1) {
      @include boxSizeIns(35, 35, $valMobile4);
    }
  }

  &.active:before {
    background-image: url(/assets/img/logo.png);
    background-size: 98%;
  }
}