.button-main {
  @include button;
  @include heightIns(70, $valLeptop1);
  font-style: normal;
  font-weight: bold;
  @include fzEl ($fz, 30);
  line-height: 100%;
  padding: 0 marginIns(60, $valLeptop1);
  border-radius: marginIns(35, $valLeptop1);
  font-family: $f-p;

  @media ($mobile1) {
    width: sizeIns(320, $valMobile4);
    padding: 0 marginIns(30, $valMobile4);
    border-radius: marginIns(30, $valMobile4);
    @include heightIns(55, $valMobile4);
    @include fzElMob ($fz, 18);
  }

  &_dark {
    color: #fff;
    background: $c-main-dark;
    border-color: $c-main-dark;

    &:hover, &:focus, &:active {
      color: #12295F;
      background: #77a2d9;
      border-color: #12295F;
      border-width: 1px;
    }
  }

  &_t-l {
    color: $c-text-light;
    background: $c-main-dark;
    border-color: $c-main-dark;

    &:hover, &:focus, &:active {
      color: #12295F;
      background: #77a2d9;
      border-color: #12295F;
      border-width: 1px;
    }
  }

  &_blue {
    color: $c-main-dark;
    background: $c-main;
    border-color: $c-main;

    &:hover, &:focus, &:active {
      color: #12295F;
      background: #77a2d9;
      border-color: $c-main;
      border-width: 1px;
    }
  }

  &_white {
    color: #fff;
    background: $c-main;
    border-color: $c-main;

    &:hover, &:focus, &:active {
      color: #12295F;
      background: #77a2d9;
      border-color: #12295F;
      border-width: 1px;
    }
  }

  &_transparent {
    color: $c-main;
    background: transparent;
    border-color: $c-main;

    &:hover, &:focus, &:active {
      color: #12295F;
      background: #77a2d9;
      border-color: #12295F;
      border-width: 1px;
    }
  }
}