.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3000;

  &__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
}

.popup-title {
  font-family: $f-p;
  font-style: normal;
  font-weight: bold;
  @include fzEl ($fz, 48);
  line-height: 95%;
  text-align: center;
  color: $c-main-dark;
  margin: 0 0 sizeIns(79, $valLeptop1);

  @media ($tablet3) {
    font-size: 24px;
    margin: 0 0 30px;
  }
}

.popup-substrate {
  background: rgba(18, 41, 95, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 0;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms
}

.popup.open .popup-substrate {
  opacity: 1
}

.popup-content {
  position: relative;
  z-index: 1;
  max-width: sizeIns(700, $valLeptop1);
  width: 100%;
  background: #82D2F3;
  -webkit-box-shadow: 2px 4px 10px rgba(0,0,0,0.25);
  box-shadow: 2px 4px 10px rgba(0,0,0,0.25);
  border-radius: sizeIns(15, $valLeptop1);
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  padding: sizeIns(67, $valLeptop1);

  @media ($tablet3) {
    max-width: 340px;
    padding: 30px 20px;
    border-radius: 10px;
  }
}

.popup.open .popup-content {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1
}

.form-main-input {
  display: block;
  height: sizeIns(70, $valLeptop1);
  width: 100%;
  background: #FFFFFF;
  border: 0;
  border-radius: sizeIns(40, $valLeptop1);
  font-size: sizeIns(28, $valLeptop1);
  color: #333;
  padding: 0 sizeIns(27, $valLeptop1);
  -webkit-appearance: none;

  @media ($tablet3) {
    font-size: 18px;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
  }

  &:focus, &:active, &:hover {
    outline: none;
    border: 0;
  }
}

.form-main-input::-webkit-input-placeholder {
  font-size: sizeIns(28, $valLeptop1);
  color: #C4C4C4;

  @media ($tablet3) {
    font-size: 18px;
  }
}

.form-main-input:-moz-placeholder {
  font-size: sizeIns(28, $valLeptop1);
  color: #C4C4C4;

  @media ($tablet3) {
    font-size: 18px;
  }
}

.form-main-input::-moz-placeholder {
  font-size: sizeIns(28, $valLeptop1);
  color: #C4C4C4;

  @media ($tablet3) {
    font-size: 18px;
  }
}

.form-main-input:-ms-input-placeholder {
  font-size: sizeIns(28, $valLeptop1);
  color: #C4C4C4;

  @media ($tablet3) {
    font-size: 18px;
  }
}

.form-main-row + .form-main-row {
  margin: sizeIns(25, $valLeptop1) 0 0;

  @media ($tablet3) {
    margin: 14px 0 0;
  }
}

.form-main-button {
  margin: sizeIns(59, $valLeptop1) 0 0;
  text-align: center;

  @media ($tablet3) {
    margin: 30px 0 0;

    button {
      font-size: 18px;
      width: 100%;
      min-width: auto;
      height: 50px;
      padding: 0 20px;
      border-radius: 25px;
    }
  }
}