.sponsors-list {
  padding: 0 0 0 sizeIns(60, $valLeptop1);
  margin: 0 0 sizeIns(124, $valLeptop1);

  @media ($mobile1) {
    padding: 0;
    margin: 0 0 sizeIns(108, $valLeptop1);

    &.grid {
      display: block;
    }

    &.grid-4 > * {
      width: 100%;
    }
  }
}