.soc-net {
  & .soc-net-list {
    display: flex;
    align-items: center;
  }

  & .soc-net-link {
    margin: 0 marginIns(20, $valLeptop1) 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include boxSizeIns(35, 35, $valLeptop1);

    @media ($mobile1) {
      @include boxSizeIns(15, 15, $valMobile4);
    }

    & svg {
      width: 100%;
      height: 100%;

      & path {
        .header & {
          @media ($mobile1) {
            fill: $c-main-light;
          }
        }
      }
    }

    @media (hover: hover) {
      &:hover {
        & svg path {
          fill: #007aff;
        }
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}