.schedule-table {
  margin: 0 sizeIns(132, $valLeptop1);

  &__header {
    font-family: $f-p;
    font-style: normal;
    font-weight: bold;
    @include fzEl ($fz, 64);
    line-height: 95%;
    text-align: center;
    color: $c-main-light;
    margin: 0 0 sizeIns(29, $valLeptop1);

    @media ($mobile1) {
      @include fzElMob ($fz, 36);
      margin: 0 0 marginIns(26, $valMobile4);
    }
  }

  &__body {
    display: flex;
  }
}